{% extends 'base.html.twig' %}

{% block title %}
    Créer une catégorie
{% endblock %}

{% block body %}
    <h1>Créer une catégorie</h1>

    {{ form_start(formView) }}

    {{ form_errors(formView) }}

    <div class="row">
        <div class="col">
            {{ form_row(formView.name) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4">
        <i class="fas fa-save"></i>
        Créer la catégorie
    </button>

    {{ form_end(formView) }}

{% endblock %}
