{% extends 'base.html.twig' %}

{% block title %}
    Catégorie {{ category.name }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
    </ol>

    <h1>Catégorie :{{ category.name }}</h1>

    <div class="row">
        {% for product in category.products %}
            <div class="col-3">
                {% include 'product/_product_card.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}