{% extends 'base.html.twig' %}

{#{% form_theme formView 'bootstrap_4_layout.html.twig' %}#}

{% block title %}
    Creation d'un produit
{% endblock %}

{% block body %}
    <h1>Nouveau produit</h1>

{#    {{ form(formView) }}#}

    {{ form_start(formView) }}

    {{ form_errors(formView) }}

    <div class="row">
        <div class="col">
            {{ form_row(formView.name) }}
            {{ form_row(formView.price) }}
        </div>
        <div class="col">
            {{ form_row(formView.mainPicture) }}
            {{ form_row(formView.shortDescription) }}
            {{ form_row(formView.category) }}
        </div>
    </div>

{#    {{ form_widget(formView) }}#}


{#    {{ form_label(formView.name) }}#}
{#    {{ form_errors(formView.name) }}#}
{#    {{ form_widget(formView.name) }}#}
{#    {{ form_help(formView.name) }}#}


    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i>
        Créer le produit
    </button>

    {{ form_end(formView) }}

{% endblock %}