{% extends 'base.html.twig' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}
    <h1>Editer le produit {{ product.name }}</h1>

    {{ form_start(formView) }}

    {{ form_errors(formView) }}

    <div class="row">
        <div class="col">
            {{ form_row(formView.name) }}
            {{ form_row(formView.price) }}
        </div>
        <div class="col">
            {{ form_row(formView.mainPicture) }}
            {{ form_row(formView.shortDescription) }}
            {{ form_row(formView.category) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i>
        Modifier le produit
    </button>

    {{ form_end(formView) }}
{% endblock %}