{% extends 'base.html.twig' %}

{% block title %}
  Hello Page
{% endblock %}

{% block body %}
    <h1>Hello {{ name }}</h1>

    <h2>Nos formateurs</h2>

        {% set formateur = formateur1 %}
        {% include "_partials/_formateur.html.twig"%}
        {# OU ALORS ON FAIT COMME ça : MIEUX #}
        {% include "_partials/_formateur.html.twig" with {"formateur": formateur2} %}

{% endblock %}